/* 

mobile : 375 px
tablet: 768 px
desktop: 1440 px 

*/

/*

    VARIABLES

*/

:root {
  --light-purple: #c2cbe5;
  --purple: #5a668a;
  --green: #54e6af;
  --light-navy: #2c344b;
  --navy: #121725;
  --white: #ffffff;
}

/*

    RESET

*/

html {
  font-family: "Chivo", sans-serif;
  font-size: 12px;
}

body {
  height: 100vh;
  margin: 0;
}

input {
  box-sizing: border-box;
}

/*

    MOBILE

*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  background: url("./assets/mobile/image-host.jpg"), rgba(18, 23, 37, 0.9);
  background-size: cover;
  background-blend-mode: multiply;
  min-height: 100%;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 328px;
}

.img--musician {
  display: none;
}

.img--dots {
  display: none;
}

.logo {
  margin: 5.17rem 0;
}

.headline {
  color: var(--green);
  font-weight: 100;
  font-size: 2em;
  line-height: 3rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.headline--white {
  color: var(--white);
}

.content {
  color: var(--light-purple);
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  opacity: 50%;
}

.icon--group {
  width: 100%;
  height: 1.41rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2.75rem;
  fill: var(--purple);
  opacity: 50%;
}

.email--input {
  font: inherit;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2.25rem;
  color: var(--white);
  opacity: 50%;
  background-color: var(--purple);
  margin-top: 4rem;
  border: none;
  padding: 0.75rem 0 0.75rem 2.67rem;
  border-radius: 2.33rem;
  width: 100%;
}

.email--input::placeholder {
  color: var(--white);
}

.email--btn {
  font: inherit;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2.25rem;
  color: var(--navy);
  background-color: var(--green);
  margin-top: 1.33rem;
  border: none;
  border-radius: 2.33rem;
  width: 100%;
  padding: 0.75rem 0;
  margin-bottom: 94px;
}

/*

    TABLET

*/

@media screen and (min-width: 768px) {
  .container {
    align-items: flex-start;
    background: none;
    background-color: var(--navy);
    padding: 0 3.33rem;
  }

  .logo {
    margin: 0;
    margin-top: 4.17rem;
  }

  .main-content {
    margin-top: 12.67rem;
    width: 635px;
    position: relative;
    z-index: 2;
    background-color: var(--navy);
  }

  .headline {
    font-size: 4rem;
    line-height: 5rem;
    text-align: unset;
    margin-top: 7.75rem;
  }

  .content {
    font-size: 1.5rem;
    line-height: 2.33rem;
    width: 445px;
    text-align: unset;
    margin-top: 2.67rem;
  }

  .img--musician {
    display: unset;
    position: absolute;
    top: 0;
    right: 0;
  }

  .form {
    order: 2;
    display: flex;
    margin-top: 3.33rem;
  }

  .email--input {
    width: 427px;
    margin: 0;
    padding: 1.17rem 0 1.17rem 2.67rem;
  }

  .email--btn {
    margin: 0;
    width: 162px;
    margin: 5px;
    margin-left: -167px;
  }

  .icon--group {
    order: 3;
    width: 536px;
    height: 25px;
    margin-top: 5.83rem;
  }

  .img--dots {
    display: unset;
    position: absolute;
    bottom: 0;
    left: 2.5rem;
  }
}
