/* 

mobile : 375 px
tablet: 768 px
desktop: 1440 px 

*/

/*

    VARIABLES

*/

:root {
  --light-purple: #c2cbe5;
  --purple: #5a668a;
  --light-green: #b3ffe2;
  --green: #54e6af;
  --light-navy: #2c344b;
  --navy: #121725;
  --white: #ffffff;
  --warn: #fb3e3e;
}

/*

    RESET

*/

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Chivo", sans-serif;
}

body {
  height: 100vh;
}

input,
label,
button {
  font: inherit;
}

/*

    MOBILE

*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  background: url("./assets/mobile/image-host.jpg"), rgba(18, 23, 37, 0.9);
  background-size: cover;
  background-blend-mode: multiply;
  min-height: 100%;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* max-width: 328px; */
}

.img--musician {
  display: none;
}

.img--dots {
  display: none;
}

.logo {
  margin: 62px 0;
}

.headline {
  color: var(--green);
  font-weight: 100;
  font-size: 24px;
  line-height: 38px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.headline--white {
  color: var(--white);
}

.content {
  color: var(--light-purple);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  opacity: 50%;
  margin-top: 16px;
}

.icon--group {
  width: 100%;
  height: 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  fill: var(--purple);
  opacity: 50%;
}

.email--input {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--light-navy);
  margin-top: 48px;
  border: none;
  padding: 8px 0 8px 32px;
  border-radius: 28px;
  width: 327px;
}

.email--input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.email--error-msg {
  display: block;
  visibility: hidden;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 0 8px 32px;
  font-weight: bold;
}

.email--input:invalid + .email--error-msg {
  visibility: visible;
  color: var(--warn);
}

.email--input:required + .email--input:not(:focus) {
  visibility: hidden;
}

.email--btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: var(--navy);
  background-color: var(--green);
  border: none;
  border-radius: 28px;
  width: 100%;
  padding: 9px 0;
  margin-bottom: 94px;
}

.email--btn:hover {
  background-color: var(--light-green);
  cursor: pointer;
}

/*

    TABLET

*/

@media screen and (min-width: 768px) {
  .container {
    align-items: flex-start;
    background: none;
    background-color: var(--navy);
    padding: 0 40px;
  }

  .logo {
    margin: 0;
    margin-top: 50px;
  }

  .main-content {
    margin-top: 152px;
    min-width: 635px;
    max-width: 723px;
    position: relative;
    z-index: 2;
    background-color: var(--navy);
  }

  .headline {
    font-size: 48px;
    line-height: 60px;
    text-align: unset;
    margin-top: 94px;
  }

  .content {
    font-size: 18px;
    line-height: 28px;
    width: 445px;
    text-align: unset;
    margin-top: 32px;
  }

  .img--musician {
    display: unset;
    position: absolute;
    top: 0;
    right: 0;
    background: url("./assets/tablet/image-host.jpg");
    background-size: 491px 767px;
    background-blend-mode: multiply;
    height: 767px;
    width: 491px;
  }

  .form {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .email--input {
    width: 427px;
    margin: 0;
    padding: 14px 0 14px 32px;
  }

  .email--error-msg {
    order: 3;
  }

  .email--btn {
    margin: 0;
    width: 162px;
    margin: 5px;
    margin-left: -167px;
  }

  .icon--group {
    order: 3;
    width: 536px;
    height: 25px;
    margin-top: 64px;
  }

  .img--dots {
    display: unset;
    position: absolute;
    bottom: 0;
    left: 30px;
  }
}

/*

  DESKTOP

*/

@media screen and (min-width: 1440px) {
  .container {
    padding: 0;
    padding-top: 102px;
    padding-left: 130px;
  }

  .logo {
    margin: 0;
  }

  .main-content {
    margin-top: 103px;
  }

  .img--dots {
    top: 718px;
    right: 0;
    left: unset;
    bottom: unset;
  }

  .img--musician {
    top: 130px;
    background: url("./assets/desktop/image-host.jpg");
    height: 640px;
    width: 962px;
  }
}
